.login-form-div {
  margin: auto;
  margin-top: 10rem;
  margin-bottom: 5rem;
  width: 40%;
  border: 1px solid;
  border-radius: 5px;
}

.login-form-div h2 {
  text-align: center;
}
.login-form-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.login-form-group label {
  margin: 0.5rem 1rem;
}
.login-form-group input {
  margin: 0 1rem;
  height: 2rem;
  border: 1px solid;
  border-radius: 5px;
}

.login-submit {
  margin: 0.5rem 1rem;
}
.login-submit input {
  text-align: center;
  padding: 8px;
  border: none;
  border-radius: 5px;
  width: 20%;
  background: #0e6efd;
  color: #ffffff;
}
.login-submit input:hover {
  cursor: pointer;
  opacity: 0.8;
}
.reg-red {
  margin: 0.5rem 1rem;
}
